<!DOCTYPE html>
<html>
  <head>
    <title>Artez Python Chatbot Demo</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/application.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Artez Python Chatbot Demo</h1>
        <hr />
      </div>
      <div class="page-header">
        <h1>Log of all chats</h1>
		<h5>sort sessions by <a id="sort_by_start">startdate</a> &mdash; <a id="sort_by_recent">most recent</a> &nbsp;&nbsp; Total {{ totalNumberOfRows }} rows in log.</h5>
      </div>
      <div id="chat-log">
		{% for session in logs %}
		  <div class="session" data-startOrder="{{ session.startOrder }}" data-recentOrder="{{ session.recentOrder }}">
  		  <h4>Session: <code>{{ session.id }}</code> Started: <em>{{ session.startDate }}</em>, Last message: <em>{{ session.lastDate }}</em></h4>
  		  <ul>
  			{% for message in session.messages %}
  			  <li><span class="keyName">Date: </span><span class="value">{{ message.date }} </span><span class="{{ message.style }}">{{ message.text }}</span></li>
  			{% endfor %}	
  	      </ul>
		  </div>
		{% endfor %}
      </div>
    </div>
  </body>
</html>